###
### {{ ansible_managed }}
###

###################################################################################################

{% for item in package_apt_sources %}
{{ item }}
{% endfor %}

###################################################################################################
