###
### {{ ansible_managed }}
###

###################################################################################################

{{ hosts_ipv4_lo_address }} {{ hosts_ipv4_lo_fqdn }} {{ hosts_ipv4_lo_alias }}
{{ hosts_ipv4_address    }} {{ hosts_ipv4_fqdn    }} {{ hosts_ipv4_alias    }}

{% if network_ipv6 | bool %}
###################################################################################################

{{ hosts_ipv6_lo_address                    }} {{ hosts_ipv6_lo_fqdn                    }} {{ hosts_ipv6_lo_alias                    }}
{{ hosts_ipv6_link_mcast_allnodes_address   }} {{ hosts_ipv6_link_mcast_allnodes_fqdn   }} {{ hosts_ipv6_link_mcast_allnodes_alias   }}
{{ hosts_ipv6_link_mcast_allrouters_address }} {{ hosts_ipv6_link_mcast_allrouters_fqdn }} {{ hosts_ipv6_link_mcast_allrouters_alias }}

{% endif %}
{% if hosts_entries is defined and hosts_entries is not none and hosts_entries | trim | length > 0 %}
###################################################################################################

{% for entry in hosts_entries %}
{{ entry  }}
{% endfor %}

{% endif %}
###################################################################################################
