###################################################################################################

- name: import | distribution

  include_vars: '{{ item }}'

  with_first_found:
    - '{{ distribution_lower }}-{{ distribution_major_version_lower }}'
    - '{{ dev_null }}'

  tags:
    - artemis
    - platform
    - timezone

###################################################################################################

- name: import | overrides

  when: overrides_verified

  include_vars: '{{ overrides_path }}'

  tags:
    - artemis
    - platform
    - timezone

###################################################################################################

- name: ubuntu | 14

  when: distribution_is_ubuntu
    and distribution_major_version_lower == '14'

  include: ubuntu-14.yml

  tags:
    - artemis
    - platform
    - timezone
    - ubuntu-14

###################################################################################################

- name: systemd

  when: not (distribution_is_ubuntu
         and distribution_major_version_lower == '14')

  include: systemd.yml

  tags:
    - artemis
    - platform
    - timezone
    - systemd

###################################################################################################
