###
### {{ ansible_managed }}
###

###################################################################################################

{{ logrotate_file }} {
{% for item in logrotate_entries %}
  {{ item }}
{% endfor %}
}

###################################################################################################
